#board {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
}

input {
  -webkit-appearance: none;
  display: flex;
  border: 2px solid #000;
  background: #F00;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  outline: 0;
}

input:checked {
  background: #0F0;
}

input::before {
  //content: attr(id)
}

input:last-child {
  background-color: #00F;
}

%nope {
  display: none;
}

@mixin latch($id1, $id2, $id3) {
  #r#{$id1}:checked~#r#{$id3},
  #r#{$id1}:not(:checked)~#r#{$id2}:checked~#r#{$id3},
  #r#{$id1}:not(:checked)~#r#{$id2}:not(:checked) {
    @extend %nope;
  }
}

@mixin i-latch($id1, $id2, $id3) {
  #r#{$id1}:not(:checked)~#r#{$id3},
  #r#{$id1}:checked~#r#{$id2}:not(:checked)~#r#{$id3},
  #r#{$id1}:checked~#r#{$id2}:checked {
    @extend %nope;
  }
}

@include latch(0,1,2);
@include i-latch(1,2,4);
@include i-latch(0,3,4);
@include i-latch(3,4,5);
