#board {
  display: flex;
  width: 150px;
  flex-wrap: wrap;
}

input {
  -webkit-appearance: none;
  display: flex;
  border: 2px solid #000;
  background: #F00;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  outline: 0;
}

input:checked {
  background: #0F0;
}

input::before {
  //content: attr(id)
}

input:last-child {
  background-color: #00F;
}

%nope {
  visibility: hidden;
  pointer-events: none;
}

@mixin nor($id1, $id2, $id3) {
  #r#{$id1}:checked~#r#{$id3},
  #r#{$id1}:not(:checked)~#r#{$id2}:checked~#r#{$id3} {
    @extend %nope;
  }
}

@mixin and($id1, $id2, $id3) {
  #r#{$id1}:not(:checked)~#r#{$id3},
  #r#{$id1}:checked~#r#{$id2}:not(:checked)~#r#{$id3} {
    @extend %nope;
  }
}

@mixin left($id1, $id2, $id3) {
  #r#{$id1}:not(:checked)~#r#{$id3},
  #r#{$id1}:checked~#r#{$id2}:checked~#r#{$id3} {
    @extend %nope;
  }
}

@mixin right($id1, $id2, $id3) {
  #r#{$id1}:checked~#r#{$id3},
  #r#{$id1}:not(:checked)~#r#{$id2}:not(:checked)~#r#{$id3} {
    @extend %nope;
  }
}

@include nor(0,1,2);
@include and(0,2,3);
@include nor(2,3,4);
@include and(0,1,5);
@include and(2,3,5);
@include left(3,4,5);

